.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FlightContainer {
  width: 90%;
  margin: 0 auto;
  background-color: sandybrown;
}

nav {
  background-color: gray;
  display: flex;
  justify-content: flex-start;
  height: 7vh;
}

nav div {
  margin-left: 1rem;
  font-size: 2rem;
}
nav i {
  height: 60px;
  color: sandybrown;
}

.FlightFinder {
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: white;
  border: 1px solid gray;
}

.FlightFinder .origin,
.FlightFinder .destination {
  flex: 1 1 50%;
}

.FlightFinder .buttons {
  flex: 1 1 100%;
  text-align: center;
}

.FlightFinder .buttons input {
  margin: 0 1rem;
}
